{% extends 'base.html' %}

{% block title %}ShocoStore{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card shadow-custom border-0">
                <h4 class="p-3 font-weight-bold text-grey">
                    Categories
                </h4>
                <ul class="list-group border-0 categories_list">
                    <li class="list-group-item border-0 p-0 selected">
                        <a href="{% url 'listings:product_list' %}" class="btn btn-block text-left">All</a>
                    </li>
                    {% for category in categories %}
                    <li
                        {% if category.slug == requested_category.slug %}
                            class="list-group-item border-0 p-0 selected"
                        {% else %}
                            class="list-group-item border-0 p-0 unselected"
                        {% endif %}>

                    <a href="{{ category.get_absolute_urls }}"
                    class="btn btn_block text-left">
                    {{ category.name }}
                    </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow-custom border-0 mb-4">
                <div class="card-body text-center">
                    <h2 class="font-weight-bold text-gray">
                        Our products
                    </h2>
                    <div class="bottom_line"></div>
                </div>
            </div>
            <div class="row no-gutters">
                {% for product in products %}
                    <div class="col-sm-6">
                        <div class="card product">
                            <div class="item">
                                <div class="item-image">
                                    <a href="{{ product.get_absolute_urls }}">
                                    <img src="{{ product.image.url }}" alt=""
                                        class="img-fluid rounded-0">
                                    </a>
                                </div>
                                <div class="item-text">
                                    <div class="item-text-wrap">
                                        <a href="" class="h2 text-white text-decoration-none">
                                            <i class="fas fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    {{ product.name }}
                                    <hr>
                                    <span>${{ product.price }}</span>
                                    <div>
                                        <i class="fas fa-fire"></i>{{ product.shu }} SHU
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <hr>
{% endblock content %}